:root{
    --cor-site: rgb(44, 61, 91);
    --cor-nav:rgb(67, 93, 134);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: white;
    font-size: 45px;
}
body{

    background-color: var(--cor-site);
    height: 175vh;
    grid-gap: 1rem;
    display: grid;
    grid-template-areas:
      "nav nav nav"
      "header header "
      "main main main"
      "footer footer footer";
}

/*Resposividade*/
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}
@media(max-width:767px){
    .header{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .header{
        width: 100%;
    }
}
.barrapesquisa{
    position: absolute;
    top: 10%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color:var(--cor-nav);
    height: 30px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    transition: .5s;
    align-items: center;
}
.barrapesquisa:hover > .pesquisa-txt{
    width: 240px;
    padding: 0 6px;
}
.barrapesquisa:hover .botao-pesquisar{
    background-color: white;
}
.pesquisa-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 20px;
    line-height: 40px;
    width: 0;
    transition: .2s;
}
.botao-pesquisar{
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--cor-site);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h4{
    font-size: 28px;
    text-align: center;
}
nav{
    border-bottom: 0.5px solid #ccc;
    grid-area: nav;
    align-items: center;
    color: white;
    padding: 20px 40px; /* Aumenta o espaçamento interno da navbar */
    height: 100px; /* Define a altura da navbar */
    background-color: rgb(67, 93, 134);
}
.logosite{
    align-items: center;
}
.container-pes{
    max-width: 1170px;
    margin: auto;
}

.footer{
    grid-area: footer;
    padding: 20px 40px; /* Aumenta o espaçamento interno da navbar */
    height: 180px; /* Define a altura da navbar */
    background-color: rgb(67, 93, 134);
    display: flex;
}
.footer-copyright{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: 100;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aqua;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: brown;
    text-decoration: none;
    font-weight: 300;
    color: chartreuse;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: bisque;
    padding-left: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
header{
    border-bottom: 0.5px solid #ccc;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerli {

    gap: 50px;
    margin-left: 20px;
}
.header{
    font-size: 25px;
    list-style: none;
    display: flex;
}
.header a{
    color: white;
    text-decoration: none;
    padding: 10px 10px; /* Aumenta o espaçamento dos links */
    transition: color 0.3s ease; /* Animação suave */
}
.header li a:hover {
    color: rgb(173, 203, 234);
}
.botao a{
    text-decoration: none;
    color: white;
}
.botao{
    margin-right: 5px;
    font-size: 14px;
    border-radius: 30px; /* Arredonda o botão */
    padding: 15px 30px;
    background-color: rgb(60, 95, 155); /* Cor de fundo inicial */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animação suave */
}
.botao:hover {
    background-color: rgb(173, 203, 234); /* Azul clarinho ao passar o mouse */
}

main{
    grid-area: main;
}
.main{
    background-color:var(--cor-site);
    padding: 20px 40px; /* Aumenta o espaçamento interno da navbar */
    height: 550px; /* Define a altura da navbar */
}
.main2{
    padding: 20px 40px; /* Aumenta o espaçamento interno da navbar */
    height: 550px; /* Define a altura da navbar */
    background-color:var(--cor-site)
}
.main3{
    padding: 20px 40px; /* Aumenta o espaçamento interno da navbar */
    height: 550px; /* Define a altura da navbar */
    background-color:var(--cor-site);
}
.main4{
    padding: 20px 40px; /* Aumenta o espaçamento interno da navbar */
    height: 550px; /* Define a altura da navbar */
    background-color: var(--cor-site);
}