<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag inicio</title>
    <link rel="stylesheet" href="/TCC-Concursador-Site/resources/css/style.css">
    <link rel="shortcut icon" href="imagem/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <nav>
            <img class="logosite" src="/imagem/logo_concursadorteste2.png" alt="logo" height="40" width="40">
            <h4>Concursador</h4>
        </nav>
        <header class="cabeça">
            <div class="barrapesquisa">
                <input type="text" class="pesquisa-txt" placeholder="Pesquisar">
                <a href="#" class="botao-pesquisar">
                    <img src="/imagem/lupa2.png" alt="lupa" height="40" width="40">
                </a>
            </div>
            <ul class="header">
                <li><a href="materias.html">Matérias</a></li>
                <li><a href="simulados.html">Simulados</a></li>
                <li><a href="comunidade.html">Comunidade</a></li>
            </ul>
        <button class="botao"><a href="entrar.html">Entrar</a></button>
        <button class="botao"><a href="cadastrar.html">Cadastrar</a></button>
        </header>
        
        <main>
        <div class="main">
            <h1>Seja Bem-vindo!!</h1>
            <img src="/imagem/escola.jpg" alt="imagem">
        </div>
        <div class="main2">
            <img src="/imagem/logo_concursadorteste2.png" alt="">
        </div>
        <div class="main3">
            <img src="/imagem/logo_concursadorteste2.png" alt="">
        </div>
        <div class="main4">
            <img src="/imagem/logo_concursadorteste2.png" alt="">
        </div>
        </main>
    
        <footer class="footer">
            <div class="container-pes">
                <div class="row">
                    <div class="footer-col">
                        <h4>Quem somos</h4>
                        <ul>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
    
                    <div class="footer-col">
                        <h4>Sei la</h4>
                        <ul>
                            <li><a href="#">abacaxi</a></li>
                        </ul>
                    </div>
    
                    <div class="footer-col">
                        <h4>Pensando ainda</h4>
                        <ul>
                            <li><a href="#">nossa lulu</a></li>
                        </ul>
                    </div>
    
                    <div class="footer-col">
                        <h4>lulu</h4>
                        <ul>
                            <li><a href="#"> casquinha de bala</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-copyright">
                    &#169
                    2024 all rights reserved
                </div>
            </div>
        </footer>
    </div>
</body>
</html>